
.title__big{
  text-align: center;
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  margin-top: 50px;
}

.title__big span{
  font-weight: 300;
}

.title__small{
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 54px;
}

.login__text{
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 47px;
}
.login{
  .input__wrapper {
    position: relative;
    width: 100%;
    flex: inherit;
  }
}
.input__wrapper{
  flex: 1;
}


.input__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 16px;
  top: 12px;
}

.rememberme{
  margin-left: 121px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.003em;
  margin-bottom: 20px;
  cursor: pointer;
}

.login__checkbox{
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
}

.rememberme input {
  display: none;
}

.rememberme div{
  display: inline;
  vertical-align: middle;
  margin-left: 10px;
}

.rememberme span {
  vertical-align: middle;
  height: 16px;
  width: 16px;
  border: 1px solid #E0E0E0;
  display: inline-block;
  position: relative;
  background-color: #FFF;
  border-radius: 2px;

  [type=checkbox]:checked + span:before {
    content: "\2714";
    position: absolute;
    top: -0.3px;
    left: 3px;
    color: rgba(9, 164, 250, 1);
  }

}


.login__submit{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #09A4FA;
  padding: 10px 75px 10px 75px;
  border-radius: 50px;
  border: none;
  background: #fff;
  margin-bottom: 10px;
}

.login__submit:active{
  background: rgba(102, 200, 255, 1);
  transform: translate(0, 0.1em);
}

.forgot__pass{
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 87px;
}

.forgot__pass:hover{
  color: #fff;
}
.forgot__pass:active{
  color: rgba(102, 200, 255, 1);
}

.social__btn{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 33.5px 10px 55.5px;
  background: #FFFFFF;
  border-radius: 60px;
  border: none;
  color: #373737;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
}

.social__btn:active{
  background: rgba(102, 200, 255, 1);
  transform: translate(0, 0.1em);
}

.social__btn__google{
  margin-bottom: 15px;
  background-image: url(../img/google.png);
  background-repeat: no-repeat;
  background-position: 16px 8px;
}

.social__btn__facebook{
  padding-right: 16px;
  padding-left: 56px;
  background-image: url(../img/Facebook.png);
  background-repeat: no-repeat;
  background-position: 16px 8px;
}

main.header{
  min-height: 100vh;
}

.pl40{
  padding-left: 40px;
}

.delite-a{
  text-decoration: none;
}
