.screen-wr{


  .input__wrapper {
    position: relative;
    width: 295px;
  }

  .input__icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 8px;
    top: 10px;
  }

  .screens{
    max-width: 375px;
    display: flex;
    flex-wrap: wrap;
  }

  .screens-top{
    margin-top: -6px;
  }

  .screen{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding-left: 8px;
    padding-bottom: 5px;
    margin-left: 9px;
    margin-bottom: 12px;
  }

  .screen__image{
    margin: 5px 11px 5px 0;
    width: 89px;
    height: 49px;
  }

  .screen__title{
    color: #535353;
    font-weight: 500;
    font-size: 10px;
    line-height: 8px;
    margin-bottom: 3px;
  }

  .screen__date{
    color: #535353;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
  }

  .modal-content{
    border: none;
  }

  .modal-dialog{
    width: 329px;
  }

  .modal__image{
    width: 313px;
    height: 172px;
    margin: 8px;
  }

  .modal__text{
    display: flex;
  }

  .modal__title{
    color: #535353;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    margin: auto 5px 8.5px 8px;
  }

  .modal__date{
    color: #535353;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .modal-backdrop{
    background: rgba(0, 104, 161, 0.24);
  }

}
