<main class="main">
  <div class="main_wrapper">
    <!-- Banner block start -->
    <div class="banner_items">

      <div class="banner_item">
        <a href="3.html" class="banner_link">
          <img src="./img/user_user-group.png" alt="user_user-group" class="banner_pic">
          <h3 class="banner_title">Latest Virtual Assistant Attendance</h3>
        </a>
      </div>

      <div class="banner_item">
        <a href="2.html" class="banner_link">
          <img src="./img/user_user-group.png" alt="user_user-group" class="banner_pic">
          <h3 class="banner_title">Virtual Assistants Logs</h3>
        </a>
      </div>

      <div class="banner_item banner-active">
        <a href="4.html" class="banner_link">
          <img src="./img/monitor.png" alt="user_user-group" class="banner_pic banner_m">
          <h3 class="banner_title">Tracker <br> Activities</h3>
        </a>
      </div>

    </div>
    <!-- Banner block end -->

    <!-- Field search and btn_calendar start -->
    <div class="search">
      <form action="" class="search_form">
        <button type="submit" class="search_btn_submit">
          <img src="./img/search.svg" alt="search" class="search_btn_pic">
        </button>
        <input type="text" class="search_text_field" placeholder="Search">
      </form>
      <div class="btn-calendar">
        <a href="#popup_calendar" class="calendar"></a>
      </div>
    </div>
    <!-- Field search and btn_calendar end -->


    <!-- ScreenShots start -->
    <div class="attendance">

      <div class="contact">
          <div class="contact_photo">
              <img src="./img/people.png" alt="photo" class="contact_pic">
              <div class="status_online"></div>
          </div>
          <div class="contact_text">
              <h3 class="contact_title">Kristen Mo</h3>
              <div class="contact_desc">
                  <div class="contact_desc-col">
                      <p class="contact_desc-title">Date in</p>
                      <p class="contact_desc-data">2023-01-26</p>
                  </div>
                  <div class="contact_desc-col">
                      <p class="contact_desc-title">Time in</p>
                      <p class="contact_desc-data">2023-01-26</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="contact">
          <div class="contact_photo">
              <img src="./img/people.png" alt="photo" class="contact_pic">
              <div class="status_ofline"></div>
          </div>
          <div class="contact_text">
              <h3 class="contact_title">Kristen Mo</h3>
              <div class="contact_desc">
                  <div class="contact_desc-col">
                      <p class="contact_desc-title">Date in</p>
                      <p class="contact_desc-data">2023-01-26</p>
                  </div>
                  <div class="contact_desc-col">
                      <p class="contact_desc-title">Time in</p>
                      <p class="contact_desc-data">2023-01-26</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="contact">
          <div class="contact_photo">
              <img src="./img/people.png" alt="photo" class="contact_pic">
              <div class="status_online"></div>
          </div>
          <div class="contact_text">
              <h3 class="contact_title">Kristen Mo</h3>
              <div class="contact_desc">
                  <div class="contact_desc-col">
                      <p class="contact_desc-title">Date in</p>
                      <p class="contact_desc-data">2023-01-26</p>
                  </div>
                  <div class="contact_desc-col">
                      <p class="contact_desc-title">Time in</p>
                      <p class="contact_desc-data">2023-01-26</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="contact">
          <div class="contact_photo">
              <img src="./img/people.png" alt="photo" class="contact_pic">
              <div class="status_online"></div>
          </div>
          <div class="contact_text">
              <h3 class="contact_title">Kristen Mo</h3>
              <div class="contact_desc">
                  <div class="contact_desc-col">
                      <p class="contact_desc-title">Date in</p>
                      <p class="contact_desc-data">2023-01-26</p>
                  </div>
                  <div class="contact_desc-col">
                      <p class="contact_desc-title">Time in</p>
                      <p class="contact_desc-data">2023-01-26</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="contact">
          <div class="contact_photo">
              <img src="./img/people.png" alt="photo" class="contact_pic">
              <div class="status_ofline"></div>
          </div>
          <div class="contact_text">
              <h3 class="contact_title">Kristen Mo</h3>
              <div class="contact_desc">
                  <div class="contact_desc-col">
                      <p class="contact_desc-title">Date in</p>
                      <p class="contact_desc-data">2023-01-26</p>
                  </div>
                  <div class="contact_desc-col">
                      <p class="contact_desc-title">Time in</p>
                      <p class="contact_desc-data">2023-01-26</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="contact">
          <div class="contact_photo">
              <img src="./img/people.png" alt="photo" class="contact_pic">
              <div class="status_online"></div>
          </div>
          <div class="contact_text">
              <h3 class="contact_title">Kristen Mo</h3>
              <div class="contact_desc">
                  <div class="contact_desc-col">
                      <p class="contact_desc-title">Date in</p>
                      <p class="contact_desc-data">2023-01-26</p>
                  </div>
                  <div class="contact_desc-col">
                      <p class="contact_desc-title">Time in</p>
                      <p class="contact_desc-data">2023-01-26</p>
                  </div>
              </div>
          </div>
      </div>

  </div>
    <!-- ScreenShots end -->
  </div>
</main>

<div id="popup_calendar" class="popup_calendar">
  <div class="popup_body">
    <div class="popup_content">

      <div class="calendar_items">
        <a href="#!">&lt;</a>
              <h2 class="calendar_title">September<br><span>2023</span></h2>

              <a href="#!">&gt;</a>
      </div>

      <table>
          <tbody><tr class="days"><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td><td>Sun</td></tr>
          <tr><td class="out">31</td><td class="out">30</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>
          <tr><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td></tr>
          <tr><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td></tr>
          <tr><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td></tr>
          <tr><td>27</td><td>28</td><td>29</td><td>30</td><td>1</td><td>2</td><td>3</td></tr>
      </tbody></table>

      <a href="#!" class="btn_done">Done</a>

    </div>
  </div>
</div>
