<!--Dashboard-->
<div class="card m-top m-bottom">
  <div class="card__title mb2">
    Dashboard
    <div class="card__corner"></div>
  </div>
  <div class="group">
    <div class="group-item mr2">
      <div class="group-item__title">Online</div>
      <div class="group-item__number">9</div>
    </div>
    <div class="group-item mr2">
      <div class="group-item__title">Offline</div>
      <div class="group-item__number">9</div>
    </div>

    <div class="group-item">
      <div class="group-item__title">Rest</div>
      <div class="group-item__number">9</div>
    </div>

  </div>

  <div class="people">
    <div class="people__item">
      <a href="3.html" class="people__img">
        <img src="../img/people.png" alt="">
        <span class="green"></span>
      </a>
      <div class="people__text">Kristen<div class="card__corner"></div></div>
    </div>
    <div class="people__item">
      <a  href="3.html" class="people__img">
        <img src="../img/people.png" alt="">
        <span class="red"></span>
      </a>
      <div class="people__text">Kristen<div class="card__corner"></div></div>
    </div>
    <div class="people__item">
      <a  href="3.html" class="people__img">
        <img src="../img/people.png" alt="">
        <span class="orange"></span>
      </a>
      <div class="people__text">Kristen<div class="card__corner"></div></div>
    </div>
    <div class="people__item">
      <a  href="3.html" class="people__img">
        <img src="../img/people.png" alt="">
        <span class="orange"></span>
      </a>
      <div class="people__text">Kristen<div class="card__corner"></div></div>
    </div>
    <div class="people__item">
      <a  href="3.html" class="people__img">
        <img src="../img/people.png" alt="">
        <span class="green"></span>
      </a>
      <div class="people__text">Kristen<div class="card__corner"></div></div>
    </div>
  </div>
</div>

<!--Screenshots-->
<div class="card  m-bottom">
  <div class="card__title mb1">
    Screenshots
    <div class="card__corner card__corner-active"></div>
  </div>
  <div class="group mb-2">
    <div class="group-item mr2">
      <div class="group-item__title">Per day</div>
      <div class="group-item__number">9</div>
    </div>
    <div class="group-item mr2">
      <div class="group-item__title">A week</div>
      <div class="group-item__number">9</div>
    </div>

    <div class="group-item">
      <div class="group-item__title">Total</div>
      <div class="group-item__number">9</div>
    </div>

  </div>

  <div class="screenshots">
    <div class="screenshots__item">
      <img src="../img/screenshots.png" alt="" class="screenshots__img">
      <div class="screenshots__name">Frank Smith</div>
      <div class="screenshots__time">09:37:47 AM</div>
    </div>
    <div class="screenshots__item">
      <div class="screenshots__item">
        <img src="../img/screenshots.png" alt="" class="screenshots__img">
        <div class="screenshots__name">Frank Smith</div>
        <div class="screenshots__time">09:37:47 AM</div>
      </div>
    </div>
    <div class="screenshots__item">
      <div class="screenshots__item">
        <img src="../img/screenshots.png" alt="" class="screenshots__img">
        <div class="screenshots__name">Frank Smith</div>
        <div class="screenshots__time">09:37:47 AM</div>
      </div>
    </div>
    <div class="screenshots__item">
      <div class="screenshots__item">
        <img src="../img/screenshots.png" alt="" class="screenshots__img">
        <div class="screenshots__name">Frank Smith</div>
        <div class="screenshots__time">09:37:47 AM</div>
      </div>
    </div>
  </div>
</div>

<!--Schedules-->
<div class="card  mb-3">
  <div class="card__title mb1">
    Schedules
    <div class="card__corner card__corner-active"></div>
  </div>
  <div class="group">
    <div class="group-item mr1">
      <div class="group-item__title">In work</div>
      <div class="group-item__number">9</div>
    </div>
    <div class="group-item mr1">
      <div class="group-item__title">New</div>
      <div class="group-item__number">9</div>
    </div>

    <div class="group-item mr1">
      <div class="group-item__title">Done</div>
      <div class="group-item__number">9</div>
    </div>

    <div class="group-item ">
      <div class="group-item__title">Total</div>
      <div class="group-item__number">9</div>
    </div>

  </div>

  <div class="people">
    <div class="people__item">
      <div class="people__img">
        <img src="../img/people.png" alt="">
        <span class="green"></span>
      </div>
      <div class="people__text">Kristen<div class="card__corner"></div></div>
    </div>
    <div class="people__item">
      <div class="people__img">
        <img src="../img/people.png" alt="">
        <span class="red"></span>
      </div>
      <div class="people__text">Kristen<div class="card__corner"></div></div>
    </div>
    <div class="people__item">
      <div class="people__img">
        <img src="../img/people.png" alt="">
        <span class="orange"></span>
      </div>
      <div class="people__text">Kristen<div class="card__corner"></div></div>
    </div>
    <div class="people__item">
      <div class="people__img">
        <img src="../img/people.png" alt="">
        <span class="orange"></span>
      </div>
      <div class="people__text">Kristen<div class="card__corner"></div></div>
    </div>
    <div class="people__item">
      <div class="people__img">
        <img src="../img/people.png" alt="">
        <span class="green"></span>
      </div>
      <div class="people__text">Kristen<div class="card__corner"></div></div>
    </div>
  </div>
</div>

