<header class="header">
  <div class="header__top">
    <div class="header__time">9:41</div>
    <div class="header__icons">
      <div class="icons1"></div>
      <div class="icons2"></div>
      <div class="icons3"></div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__title">Timedly</div>
    <a href="7.html" class="header__bell"><span>1</span></a>
  </div>

  <div class="header__user">
    <div class="user__photo">
      <img src="./img/Contact-photo.png" alt="User's photo">
    </div>
    <div class="user__data">
      <p class="user__name">Kristen Mo</p>
      <p class="user__status">Online</p>
    </div>
  </div>


</header>
