<header class="header">
  <div class="header__top">
    <div class="header__time">9:41</div>
    <div class="header__icons">
      <div class="icons1"></div>
      <div class="icons2"></div>
      <div class="icons3"></div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__title">Timedly</div>
    <div class="header__bell"><span>1</span></div>
  </div>


  <div class="input-group input-group-custom">
    <div class="input__wrapper">
         <input type="search" class="form-control search rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
         <svg class="input__icon">
              <use xlink:href="#magnifier"></use>
          </svg>
    </div>
    <button type="button" class="btn btn-calendar"><span class="calendar"></span></button>
</div>


</header>
