<main style="background: #F9F9F9;">
  <div class="chats">
       <div class="chat__box m-top">
            <div class="contact__user">
                 <div class="avatar">
                      <img src="img/people.webp" alt="Avatar" class="user__avatar">
                      <span></span>
                 </div>
                 <p class="user__nickname">Kristen Mo</p>
            </div>
            <div class="message">
                 <div class="title">What do</div>
                 <p class="message__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                 <div class="title">What do</div>
                 <p class="message__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
            </div>
       </div>
       <div class="chat__box">
            <div class="contact__user">
                 <div class="avatar">
                      <img src="img/people.webp" alt="Avatar" class="user__avatar">
                      <span></span>
                 </div>
                 <p class="user__nickname">Kristen Mo</p>
            </div>
            <div class="message">
                 <div class="title">What do</div>
                 <p class="message__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                 <div class="title">What do</div>
                 <p class="message__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
            </div>
       </div>
       <div class="chat__box">
            <div class="contact__user">
                 <div class="avatar">
                      <img src="img/people.webp" alt="Avatar" class="user__avatar">
                      <span></span>
                 </div>
                 <p class="user__nickname">Kristen Mo</p>
            </div>
            <div class="message">
                 <div class="title">What do</div>
                 <p class="message__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                 <div class="title">What do</div>
                 <p class="message__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
            </div>
       </div>
       <div class="chat__box">
            <div class="contact__user">
                 <div class="avatar">
                      <img src="img/people.webp" alt="Avatar" class="user__avatar">
                      <span></span>
                 </div>
                 <p class="user__nickname">Kristen Mo</p>
            </div>
            <div class="message">
                 <div class="title">What do</div>
                 <p class="message__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                 <div class="title">What do</div>
                 <p class="message__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
            </div>
       </div>
       <div class="chat__box">
            <div class="contact__user">
                 <div class="avatar">
                      <img src="img/people.webp" alt="Avatar" class="user__avatar">
                      <span></span>
                 </div>
                 <p class="user__nickname">Kristen Mo</p>
            </div>
            <div class="message">
                 <div class="title">What do</div>
                 <p class="message__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                 <div class="title">What do</div>
                 <p class="message__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
            </div>
       </div>
  </div>
</main>
