<main class="screen-wr">
  <div class="screens screens-top">
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
  </div>
  <div class="screens">
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
       <div class="screen" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="img/screenshots.webp" alt="Скриншот" class="screen__image">
            <div class="screen__title">Frank Smith</div>
            <div class="screen__date">FEB 19, 2023<br>09:03:13 PM</div>
       </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                 <img src="img/screenshots-big.png" alt="Скриншот" class="modal__image">
                 <div class="modal__text">
                      <div class="modal__title">Frank Smith</div>
                      <div class="modal__date">FEB 19, 2023 09:03:13 PM</div>
                 </div>
            </div>
       </div>
  </div>
</main>
