    <main class="">
      <div class="container">
        <section class="buttons">
          <ul class="buttons__list">
            <li class="buttons__item">
              <button class="message1 btn">
                <svg width="17" height="16" viewbox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_1_159)">
                  <path d="M14.55 1H2.95C2.36652 1 1.80695 1.23179 1.39437 1.64437C0.981785 2.05695 0.75 2.61652 0.75 3.2V10.3C0.749996 10.8821 0.980683 11.4405 1.39153 11.8528C1.80239 12.2652 2.35991 12.4979 2.942 12.5V15.72L7.572 12.5H14.55C15.1335 12.5 15.6931 12.2682 16.1056 11.8556C16.5182 11.4431 16.75 10.8835 16.75 10.3V3.2C16.75 2.61652 16.5182 2.05695 16.1056 1.64437C15.6931 1.23179 15.1335 1 14.55 1ZM15.812 10.3C15.8112 10.6344 15.678 10.9548 15.4414 11.1911C15.2049 11.4275 14.8844 11.5605 14.55 11.561H7.278L3.878 13.926V11.561H2.95C2.61563 11.5605 2.2951 11.4275 2.05857 11.1911C1.82204 10.9548 1.68879 10.6344 1.688 10.3V3.2C1.68853 2.86546 1.82166 2.54477 2.05822 2.30822C2.29477 2.07166 2.61546 1.93853 2.95 1.938H14.55C14.8847 1.93826 15.2057 2.07128 15.4424 2.30786C15.6792 2.54445 15.8125 2.86529 15.813 3.2L15.812 10.3Z" fill="#FF7A00"/>
                  <path d="M5.0319 4.313H12.4669V5.251H5.0319V4.313Z" fill="#FF7A00"/>
                  <path d="M5.0319 6.313H12.4669V7.251H5.0319V6.313Z" fill="#FF7A00"/>
                  <path d="M5.0319 8.313H12.4669V9.25H5.0319V8.313Z" fill="#FF7A00"/>
                  </g>
                  <defs>
                  <clippath id="clip0_1_159">
                    <rect width="16" height="16" fill="white" transform="translate(0.75)"/>
                  </clippath>
                  </defs>
                  </svg>
                  Message
              </button>
            </li>
            <li class="buttons__item">
              <button class="screenshots btn">
                <svg width="17" height="16" viewbox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M15.75 1H1.75V11H15.75V1ZM1.75 0C1.19772 0 0.75 0.447715 0.75 1V11C0.75 11.5523 1.19772 12 1.75 12H15.75C16.3023 12 16.75 11.5523 16.75 11V1C16.75 0.447715 16.3023 0 15.75 0H1.75Z" fill="#FF7A00"/>
                  <rect x="4.75" y="15" width="8" height="1" fill="#FF7A00"/>
                  <rect x="7.75" y="13" width="2" height="1" fill="#FF7A00"/>
                </svg>
                Screenshots
              </button>
            </li>
            <li class="buttons__item">
              <button class="calendar1 btn">
                <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3 11H5V13H3V11Z" fill="#535353"/>
                  <path d="M3 8H5V10H3V8Z" fill="#535353"/>
                  <path d="M3 5H5V7H3V5Z" fill="#535353"/>
                  <path d="M3 0.5C3 0.223858 3.22386 0 3.5 0C3.77614 0 4 0.223858 4 0.5V3.5C4 3.77614 3.77614 4 3.5 4C3.22386 4 3 3.77614 3 3.5V0.5Z" fill="#535353"/>
                  <path d="M11 2H5V3H11V2Z" fill="#535353"/>
                  <path d="M14 3C14.5523 3 15 3.44772 15 4V14C15 14.5523 14.5523 15 14 15H2C1.44772 15 1 14.5523 1 14V4C1 3.44772 1.44772 3 2 3V2C0.895431 2 0 2.89543 0 4V14C0 15.1046 0.895431 16 2 16H14C15.1046 16 16 15.1046 16 14V4C16 2.89543 15.1046 2 14 2V3Z" fill="#535353"/>
                  <path d="M12 0.5C12 0.223858 12.2239 0 12.5 0C12.7761 0 13 0.223858 13 0.5V3.5C13 3.77614 12.7761 4 12.5 4C12.2239 4 12 3.77614 12 3.5V0.5Z" fill="#535353"/>
                  <path d="M7 11H9V13H7V11Z" fill="#535353"/>
                  <path d="M7 8H9V10H7V8Z" fill="#535353"/>
                  <path d="M7 5H9V7H7V5Z" fill="#535353"/>
                  <path d="M11 11H13V13H11V11Z" fill="#535353"/>
                  <path d="M11 8H13V10H11V8Z" fill="#535353"/>
                  <path d="M11 5H13V7H11V5Z" fill="#535353"/>
                </svg>
              </button>
            </li>
          </ul>
        </section>

        <section class="accordion">
          <ul class="accordion__list accordion-container" id="accordion">
            <li class="accordion__item ac">
              <div class="accordion__top ac-header">
                <span>Profile</span>
                <button class="accordion__button btn ac-trigger">
                  <svg width="7" height="11" viewbox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.889819 11C1.13529 11 1.3424 10.9156 1.51116 10.7469L6.106 6.19805C6.32078 5.99093 6.4205 5.76848 6.4205 5.5C6.4205 5.23152 6.32078 5.00139 6.11367 4.80195L1.51116 0.253138C1.3424 0.0843794 1.13529 0 0.889819 0C0.398884 0 0 0.391213 0 0.882148C0 1.12762 0.0997211 1.35007 0.276151 1.53417L4.31102 5.50767L0.276151 9.4735C0.0997211 9.64993 0 9.87239 0 10.1179C0 10.6088 0.398884 11 0.889819 11Z" fill="#FF7A00"/>
                  </svg>
                </button>
              </div>
              <div class="accordion__bottom ac-panel">

              </div>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top ac-header">
                <span>Dashboard</span>
                <button class="accordion__button btn ac-trigger">
                  <svg width="7" height="11" viewbox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.889819 11C1.13529 11 1.3424 10.9156 1.51116 10.7469L6.106 6.19805C6.32078 5.99093 6.4205 5.76848 6.4205 5.5C6.4205 5.23152 6.32078 5.00139 6.11367 4.80195L1.51116 0.253138C1.3424 0.0843794 1.13529 0 0.889819 0C0.398884 0 0 0.391213 0 0.882148C0 1.12762 0.0997211 1.35007 0.276151 1.53417L4.31102 5.50767L0.276151 9.4735C0.0997211 9.64993 0 9.87239 0 10.1179C0 10.6088 0.398884 11 0.889819 11Z" fill="#FF7A00"/>
                  </svg>
                </button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="visiting">
                  <p class="visiting__title">Latest Virtual Assistant Attendance</p>
                  <ul class="visiting__list">
                    <li class="visiting__item">
                      <span class="visiting__name">Date in</span>
                      <span class="visiting__data">2023-01-26</span>
                    </li>
                    <li class="visiting__item">
                      <span class="visiting__name">Time in</span>
                      <span class="visiting__data">2023-01-26</span>
                    </li>
                  </ul>
                </div>
                <div class="logs">
                  <p class="logs__title">Virtual Assistants Logs</p>
                  <ul class="logs__list">
                    <li class="logs__item">
                      <span class="logs__name">Date</span>
                      <span class="logs__data">2023-01-26</span>
                    </li>
                    <li class="visiting__item">
                      <span class="logs__name">Task name</span>
                      <span class="logs__data">ISA</span>
                    </li>
                    <li class="visiting__item">
                      <span class="logs__name">Time started</span>
                      <span class="logs__data">09:37:47 AM</span>
                    </li>
                    <li class="visiting__item">
                      <span class="logs__name">Time ended</span>
                      <span class="logs__data">11:37:55 AM</span>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top ac-header">
                <span>Schedules</span>
                <button class="accordion__button btn ac-trigger">
                  <svg width="7" height="11" viewbox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.889819 11C1.13529 11 1.3424 10.9156 1.51116 10.7469L6.106 6.19805C6.32078 5.99093 6.4205 5.76848 6.4205 5.5C6.4205 5.23152 6.32078 5.00139 6.11367 4.80195L1.51116 0.253138C1.3424 0.0843794 1.13529 0 0.889819 0C0.398884 0 0 0.391213 0 0.882148C0 1.12762 0.0997211 1.35007 0.276151 1.53417L4.31102 5.50767L0.276151 9.4735C0.0997211 9.64993 0 9.87239 0 10.1179C0 10.6088 0.398884 11 0.889819 11Z" fill="#FF7A00"/>
                  </svg>
                </button>
              </div>
              <div class="accordion__bottom ac-panel">

              </div>
           </li>
            <li class="accordion__item ac">
              <div class="accordion__top ac-header">
                <span>Attendance</span>
                <button class="accordion__button btn ac-trigger">
                  <svg width="7" height="11" viewbox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.889819 11C1.13529 11 1.3424 10.9156 1.51116 10.7469L6.106 6.19805C6.32078 5.99093 6.4205 5.76848 6.4205 5.5C6.4205 5.23152 6.32078 5.00139 6.11367 4.80195L1.51116 0.253138C1.3424 0.0843794 1.13529 0 0.889819 0C0.398884 0 0 0.391213 0 0.882148C0 1.12762 0.0997211 1.35007 0.276151 1.53417L4.31102 5.50767L0.276151 9.4735C0.0997211 9.64993 0 9.87239 0 10.1179C0 10.6088 0.398884 11 0.889819 11Z" fill="#FF7A00"/>
                  </svg>
                </button>
              </div>
              <div class="accordion__bottom ac-panel">

              </div>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top ac-header">
                <span>Virtual&nbspAssistants</span>
                <button class="accordion__button btn ac-trigger">
                  <svg width="7" height="11" viewbox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.889819 11C1.13529 11 1.3424 10.9156 1.51116 10.7469L6.106 6.19805C6.32078 5.99093 6.4205 5.76848 6.4205 5.5C6.4205 5.23152 6.32078 5.00139 6.11367 4.80195L1.51116 0.253138C1.3424 0.0843794 1.13529 0 0.889819 0C0.398884 0 0 0.391213 0 0.882148C0 1.12762 0.0997211 1.35007 0.276151 1.53417L4.31102 5.50767L0.276151 9.4735C0.0997211 9.64993 0 9.87239 0 10.1179C0 10.6088 0.398884 11 0.889819 11Z" fill="#FF7A00"/>
                  </svg>
                </button>
              </div>
              <div class="accordion__bottom ac-panel">

              </div>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top ac-header">
                <span>Projects</span>
                <button class="accordion__button btn ac-trigger">
                  <svg width="7" height="11" viewbox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.889819 11C1.13529 11 1.3424 10.9156 1.51116 10.7469L6.106 6.19805C6.32078 5.99093 6.4205 5.76848 6.4205 5.5C6.4205 5.23152 6.32078 5.00139 6.11367 4.80195L1.51116 0.253138C1.3424 0.0843794 1.13529 0 0.889819 0C0.398884 0 0 0.391213 0 0.882148C0 1.12762 0.0997211 1.35007 0.276151 1.53417L4.31102 5.50767L0.276151 9.4735C0.0997211 9.64993 0 9.87239 0 10.1179C0 10.6088 0.398884 11 0.889819 11Z" fill="#FF7A00"/>
                  </svg>
                </button>
              </div>
              <div class="accordion__bottom ac-panel">

              </div>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top ac-header">
                <span>Tasks</span>
                <button class="accordion__button btn ac-trigger">
                  <svg width="7" height="11" viewbox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.889819 11C1.13529 11 1.3424 10.9156 1.51116 10.7469L6.106 6.19805C6.32078 5.99093 6.4205 5.76848 6.4205 5.5C6.4205 5.23152 6.32078 5.00139 6.11367 4.80195L1.51116 0.253138C1.3424 0.0843794 1.13529 0 0.889819 0C0.398884 0 0 0.391213 0 0.882148C0 1.12762 0.0997211 1.35007 0.276151 1.53417L4.31102 5.50767L0.276151 9.4735C0.0997211 9.64993 0 9.87239 0 10.1179C0 10.6088 0.398884 11 0.889819 11Z" fill="#FF7A00"/>
                  </svg>
                </button>
              </div>
              <div class="accordion__bottom ac-panel">

              </div>
            </li>
          </ul>
        </section>
        <div class="overlay">
          <div class="modal">
            <div class="calendar-wrapper">
              <ul class="pagination">
                <li>
                    <button id="btnPrev" class="btn pag__btn" type="button">
                      <svg width="9" height="14" viewbox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1_362)">
                        <path d="M0.0613022 7.00012C0.0613022 6.77002 0.157792 6.53995 0.350382 6.36452L6.41372 0.844096C6.79942 0.492926 7.42478 0.492926 7.81033 0.844096C8.19587 1.19513 8.19587 1.76438 7.81033 2.11558L2.44515 7.00012L7.81014 11.8847C8.19569 12.2359 8.19569 12.805 7.81014 13.156C7.42459 13.5074 6.79924 13.5074 6.41353 13.156L0.350183 7.63571C0.157573 7.46019 0.0613022 7.23013 0.0613022 7.00011V7.00012Z" fill="#222B45"/>
                        </g>
                        <defs>
                        <clippath id="clip0_1_362">
                        <rect width="12.8388" height="8.03819" fill="white" transform="matrix(0 1 -1 0 8.09949 0.580719)"/>
                        </clippath>
                        </defs>
                      </svg>
                    </button>
                  </li>
                <li>
                  <p class="calendar__title">
                    <span class="calendar__title-month">September</span>
                    <span class="calendar__title-year">2023</span>
                  </p>
                </li>
                <li>
                  <button id="btnNext" class="btn pag__btn" type="button">
                    <svg width="9" height="14" viewbox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_1_372)">
                      <path d="M8.93943 7.00016C8.93943 7.23026 8.84294 7.46033 8.65035 7.63576L2.58701 13.1562C2.20131 13.5073 1.57595 13.5073 1.1904 13.1562C0.80486 12.8051 0.80486 12.2359 1.1904 11.8847L6.55558 7.00016L1.19059 2.11559C0.80504 1.76442 0.80504 1.19523 1.19059 0.844228C1.57614 0.492887 2.20149 0.492887 2.5872 0.844228L8.65055 6.36457C8.84316 6.54009 8.93943 6.77015 8.93943 7.00017V7.00016Z" fill="#222B45"/>
                      </g>
                      <defs>
                      <clippath id="clip0_1_372">
                      <rect width="12.8388" height="8.03819" fill="white" transform="matrix(0 -1 1 0 0.901245 13.4196)"/>
                      </clippath>
                      </defs>
                    </svg>
                  </button>
                </li>
              </ul>
              <table class="table-calendar" cellpadding="0" cellspacing="0">
                <thead class="table-title">
                  <th class="table-title__name">Mon</th>
                  <th class="table-title__name">Tue</th>
                  <th class="table-title__name">Wed</th>
                  <th class="table-title__name">Thu</th>
                  <th class="table-title__name">Fri</th>
                  <th class="table-title__name">Sat</th>
                  <th class="table-title__name">Sun</th>
                </thead>
                <tbody class="table-body">
                  <tr class="table-body__row">
                    <td class="other-month">30</td>
                    <td class="other-month">31</td>
                    <td>1</td>
                    <td class="highlight first">2</td>
                    <td class="highlight">3</td>
                    <td class="highlight">4</td>
                    <td class="highlight last">5</td>
                  </tr>
                  <tr class="table-body__row">
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                  </tr>
                  <tr class="table-body__row">
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                  </tr>
                  <tr class="table-body__row">
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                  </tr>
                  <tr class="table-body__row">
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td class="other-month">1</td>
                    <td class="other-month">2</td>
                    <td class="other-month">3</td>
                  </tr>
                </tbody>
              </table>
              <div class="modal-button__box">
                <button class="modal-btn btn">Done</button>
              </div>

            </div>

          </div>
        </div>


      </div>
    </main>
