html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: inherit;
}

body{
  margin: 0;
  font-family: 'SFProDisplay', sans-serif;
  background: #F9F9F9;
  color: #000;
}

.wrapper-site{
  min-height: 100vh;

  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  &> *{
    max-width: 375px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.app-img{
  max-width: 375px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  opacity: 0.45;
  /* opacity: 0;*/
  /*display: none;*/
}
